*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    left: 0;
    background-image: linear-gradient(to top, #da70d6 1%, #ffffff 100%);
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
}

footer {
    display: block;
    background: yellow;
    color: inherit;
    max-width: 1268px;
    margin: 0 auto;
    width: 100vw;
    padding: 4px;
}

html {
    box-sizing: border-box;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

textarea {
    width: 80%;
    min-height: 5rem;
}